/* Colors and Fonts */
html {
  margin:0;
  padding:0;
  background: url("media/front9.jpg") no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #400000;
  font-size: 24px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #36246c;
  font-size: 38px;
}

h2{
  color: #6c2436;
  font-size: 34px;
  font-weight: 300;
}

h3{
  color: #6e1e57;
  font-size: 28px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #05486c;
  text-decoration: none;
}

a:hover{
  color: #ff0080;
  text-decoration: none;
}

table{
  font-weight: 300;
  /*font-size: 15px;*/
  line-height: 1.6em;
}

/* First simple components */

.text-center {
  text-align: center;
}

.container{
  width: 500px;
  margin: 30px auto;
}

.card{
  background: url("media/font2.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.img-circle{
  border-radius: 50%;
}

.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
.btn-red{
  background-color: green;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-red:hover{
  background-color: #C61414;
  color: white;
}

/* Specific CSS rules */

#img-profile{
  width: 200px;
  height: 200px;
  border: 3px solid #cccccc;
}
#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
#movies img{
  width: 200px;
}
#movies td{
  padding: 10px;
}


